<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sisosolsol.greenfire.challenge.model.dao.ChallengeMapper">
    <insert id="registChallenge" useGeneratedKeys="true" keyProperty="challengeCode">
        INSERT INTO
            tbl_challenge (
            challenge_title,
            challenge_content,
            recruitment_num,
            start_date,
            end_date,
            host_user,
            xp,
            thumbnail_url,
            challenge_category_code,
            challenge_status
            )
        VALUES
            (
            #{challengeTitle},
            #{challengeContent},
            #{recruitmentNum},
            #{startDate},
            #{endDate},
            CAST(#{hostUser} AS uuid),
            #{xp},
            #{thumbnailUrl},
            #{challengeCategoryCode},
            #{challengeStatus}
            )
    </insert>

    <select id="selectChallengeByCode" parameterType="int" resultType="sisosolsol.greenfire.challenge.model.dto.ChallengeDTO">
        SELECT
            challenge_code,
            created_at,
            challenge_title,
            challenge_content,
            host_user,
            recruitment_num,
            start_date,
            end_date,
            xp,
            thumbnail_url,
            challenge_category_code,
            challenge_status
        FROM tbl_challenge
        WHERE challenge_code = #{challengeCode}
    </select>

    <select id="countChallenges" parameterType="sisosolsol.greenfire.challenge.model.dto.ChallengeSearchCondition" resultType="int">
        SELECT COUNT(*)
        FROM tbl_challenge
        <where>
            <if test="searchKeyword != null and searchKeyword != ''">
                AND (challenge_title LIKE CONCAT('%', #{searchKeyword}, '%')
                OR challenge_content LIKE CONCAT('%', #{searchKeyword}, '%'))
            </if>
            <if test="categoryCode != null">
                AND challenge_category_code = #{categoryCode}
            </if>
        </where>
    </select>

    <select id="selectChallenges" parameterType="sisosolsol.greenfire.challenge.model.dto.ChallengeSearchCondition" resultType="sisosolsol.greenfire.challenge.model.dto.ChallengeDTO">
        SELECT
            challenge_code,
            created_at,
            challenge_title,
            challenge_content,
            host_user,
            recruitment_num,
            start_date,
            end_date,
            xp,
            thumbnail_url,
            challenge_category_code,
            challenge_status
        FROM tbl_challenge
        <where>
            <if test="searchKeyword != null and searchKeyword != ''">
                AND (challenge_title LIKE CONCAT('%', #{searchKeyword}, '%')
                OR challenge_content LIKE CONCAT('%', #{searchKeyword}, '%'))
            </if>
            <if test="categoryCode != null">
                AND challenge_category_code = #{categoryCode}
            </if>
        </where>
        ORDER BY created_at DESC
        LIMIT #{size} OFFSET #{offset}
    </select>

    <select id="countCurrentParticipants" resultType="int">
        SELECT COUNT(*)
        FROM tbl_challenge_part
        WHERE challenge_code = #{challengeCode}
    </select>

    <insert id="insertChallengePart">
        INSERT INTO tbl_challenge_part
            (
            challenge_code,
            user_code,
            is_host
            )
        VALUES
            (
            #{challengeCode},
            CAST(#{userCode} AS uuid),
            #{isHost}
            )
    </insert>

    <select id="selectChallengePart" resultType="sisosolsol.greenfire.challenge.model.dto.ChallengePartDTO">
        SELECT
            challenge_code as challengeCode,
            user_code as userCode
            <!-- is_host as isHost -->
        FROM
            tbl_challenge_part
        WHERE
            challenge_code = #{challengeCode}
            AND user_code = #{userCode}::uuid
    </select>

    <delete id="cancelChallengePart">
        DELETE FROM
            tbl_challenge_part
        WHERE
            challenge_code = #{challengeCode}
            AND user_code = #{userCode}::uuid
    </delete>

    <update id="updateChallenge">
        UPDATE
            tbl_challenge
        SET
            challenge_title = #{updateDTO.challengeTitle},
            challenge_content = #{updateDTO.challengeContent},
            recruitment_num = #{updateDTO.recruitmentNum},
            start_date = #{updateDTO.startDate},
            end_date = #{updateDTO.endDate},
            xp = #{updateDTO.xp},
            thumbnail_url = #{updateDTO.thumbnailUrl},
            challenge_category_code = #{updateDTO.challengeCategoryCode},
            challenge_status = #{updateDTO.challengeStatus}
        WHERE challenge_code = #{challengeCode}
        AND challenge_status NOT IN ('CANCELLED', 'CLOSED', 'PAUSED')
    </update>

</mapper>